.agile {
  &__dots {
    bottom: 0;
    display: block;
    right: 10px;
    position: absolute;
    width: 30px;
  }

  &__dot {
    margin-bottom: 10px;

    button {
      width: 14px;
      height: 14px;
      background-color: transparent;
      border: 1px solid #fff;
      margin-top: 10px;

      &:hover {
        background-color: #fff;
      }
    }

    &--current {
      button {
        background-color: #fff;
      }
    }
  }
}

.slide {
  background: {
    position: center;
    size: cover;
  }
  height: 300px;

  &--1 {
    background-color: red;
  }

  &--2 {
    background-color: yellow;
  }

  &--3 {
    background-color: green;
  }
}
