// Set your colors
$primary: #D7AF71;
$primary-invert: findColorInvert($primary);
$dark: #1B1B1B;
$dark-invert: findColorInvert($dark);
$light: #F7F7FA;
$light-invert: findColorInvert($light);
$blanc-espagne: #FEFDF0;
$blanc-espagne-invert: findColorInvert($blanc-espagne);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
$corn: #DFEF58;
$corn-invert: findColorInvert($corn);
$yellow-pop: #fce062;
$yellow-pop-invert: findColorInvert($yellow-pop);
$bertel-dark: #3F3426;
$bertel-dark-invert: findColorInvert($bertel-dark);
$watermelon: #FF596D;
$watermelon-invert: findColorInvert($watermelon);
$brust: #383F51;
$brust-invert: findColorInvert($brust);
$error: #d9534f;
$error-invert: findColorInvert($error);
$milk-jam: #FAF0E0;
$milk-jam-invert: findColorInvert($milk-jam);
$fruit-jam: #F6D4D6;
$fruit-jam-invert: findColorInvert($fruit-jam);
$kaya-jam: #EACA98;
$kaya-jam-invert: findColorInvert($kaya-jam);
$pinktable-brown: #B68C5C;
$pinktable-brown-invert: findColorInvert($pinktable-brown);
$pinktable-dark-brown: #6A5040;
$pinktable-dark-brown-invert: findColorInvert($pinktable-dark-brown);
$grey-mouse: #47abb5;
$grey-mouse-invert: findColorInvert($grey-mouse);
$tsilaosa: #F9ED96;
$tsilaosa-invert: findColorInvert($tsilaosa);
$blue-obelix: #8EC1EE;
$blue-obelix-invert: findColorInvert($blue-obelix);
$blue-mapbox: #73B6E6;
$blue-mapbox-invert: findColorInvert($blue-mapbox);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
  "twitter": ($twitter, $twitter-invert),
  "corn": ($corn, $corn-invert),
  "yellow-pop": ($yellow-pop, $yellow-pop-invert),
  "bertel-dark": ($bertel-dark, $bertel-dark-invert),
  "milk-jam": ($milk-jam, $milk-jam-invert),
  "fruit-jam": ($fruit-jam, $fruit-jam-invert),
  "kaya-jam": ($kaya-jam, $kaya-jam-invert),
  "pinktable-brown": ($pinktable-brown, $pinktable-brown-invert),
  "pinktable-dark-brown": ($pinktable-dark-brown, $pinktable-dark-brown-invert),
  "grey-mouse": ($grey-mouse, $grey-mouse-invert),
  "tsilaosa": ($tsilaosa, $tsilaosa-invert),
  "blue-obelix": ($blue-obelix, $blue-obelix-invert),
  "blue-mapbox": ($blue-mapbox, $blue-mapbox-invert),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;
