@font-face {
  font-family: 'Santral';
  src: url('../assets/fonts/Santral/Santral.otf');
  src: url('../assets/fonts/Santral/Santral.otf') format('truetype')
}

@font-face {
  font-family: 'Linotte';
  src: url('../assets/fonts/Linotte/Linotte.otf') format('truetype')
}
