.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
  font-family: Linotte,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  padding-left: 0.2rem;
  border: none;
}

.hero {
  .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    padding-left: 1rem;
  }
}

.leaflet-right {
  right: 1rem;
}

.leaflet-top {
  color: $dark;
}

.showcase-content {
  .lebertel-map {
    width: 110%;
  }
}
