.dropdown-menu {
  a {
    color: $grey-darker
  }

  .dropdown-content {
    border-radius: 10px;
  }
}


.navbar-item {
  a {
    text-decoration: none;
  }

  .navbar-dropdown {
    margin-top: 1rem;
  }

  &.app-name {
  	font-family: Bahagia, Helvetica, Arial, sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
    font-size: 2.8rem;
  	text-align: center;
  	margin: 0;

    a {
      color: $primary;
    }
  }
}

.nav-item img {
  max-height: 4rem;
}

.nav-item {
  .register {
    margin-right: 5px;
  }
}

.navbar-burger {
  height: inherit;
}

.navbar-item {
  .image {
    overflow: hidden;
  }
  .media {
    border-radius: 50%;
    img {
      max-height: 100%;
    }
  }
}

.navbar-avatar {
  display: block;
  margin-left: auto;
}

.navbar {
  &.connected {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navbar-end {
  &.is-active {
    text-align: center;
  }
}
