.product {
  .image {
    //background-color: red;
    height: 91vh;
  }

  .product-detail {
    padding: 2rem;
    height: 91vh;
    display: flex;
    align-items: center;

    h3 {
      font-size: 3rem;
      letter-spacing: 1rem;
    }

    h4 {
      font-size: 2rem;
      letter-spacing: 0.5rem;
    }

    .product-detail-item {
      letter-spacing: 1px;
      .social, .go-back {
        .navbar-item {
          border-radius: 50%;
          padding: 1rem;
          &:hover {
            cursor: pointer;
            background-color: whitesmoke;
          }
        }
      }

      .go-back {
        .navbar-item {
          .icon {
            .mdi {
              font-size: 2.5rem;
            }
          }
        }
      }
    }

    .product-detail--top {
      align-self: flex-start;
    }

    .product-detail--bottom {
      align-self: flex-end;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.slide {
  &.product {
    height: 91vh;
    display: flex;
    flex-direction: column-reverse;
  }

  .product-infos {
    color: $blanc-espagne;
    width: 100%;
    float: left;
    margin-top: 72vh;
    padding-left: 2rem;
    padding-bottom: 2rem;
    --color-stop: $dark;
    background: linear-gradient(transparent, var(--color-stop));
    //text-shadow: 0.5px 0 0 $bertel-dark, 0 0.5px 0 $bertel-dark, 0 -0.5px 0 $bertel-dark, -0.5px 0 0 $bertel-dark, 0.5px 0.5px 0 $bertel-dark, 0.5px -0.5px 0 $bertel-dark, -0.5px 0.5px 0 $bertel-dark, -0.5px -0.5px 0 $bertel-dark;
    //text-shadow: $bertel-dark 0.2px 0.2px, $bertel-dark -0.2px 0.2px, $bertel-dark -0.2px -0.2px, $bertel-dark 0.2px -0.2px;
    .product-name {
      font-size: 3rem;
    }

    .product-price {
      font-size: 1.5rem;
      margin-top: -10px;
    }
  }
}

.product-description {
  max-height: 40vh;
  overflow: auto;
  &:after {
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    content: "";
    background: linear-gradient(to top,
       rgba(255,255,255, 1) 20%,
       rgba(255,255,255, 0) 80%
    );
    pointer-events: none;
  }
}

.product-desc, .product-more-info {
  position: relative;
}

.product-more-infos {
  max-height: 30vh;
  overflow: auto;
  &:after {
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    content: "";
    background: linear-gradient(to top,
       rgba(255,255,255, 1) 30%,
       rgba(255,255,255, 0) 70%
    );
    pointer-events: none;
  }
}
